<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from thepixelcurve.com/html/meeta/meeta/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 31 Jul 2023 12:39:44 GMT -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Meeta - Event & Conference HTML5 Template</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet">

  <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

  <!-- CSS
	============================================ -->

  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/aos.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="main-wrapper">

    <!-- Preloader start -->
    <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Header Start -->
    <div class="meeta-header-section meeta-header-2 meeta-header-3">

      <!-- Header Middle Start -->
      <div class="header-middle header-sticky">
        <div class="container">

          <div class="header-wrap">
            <!-- Header Logo Start -->
            <div class="header-logo header-logo-3">
              <a class="logo-black" href="index-2.html"><img src="assets/images/Frame.png" alt="Logo"></a>
              <a class="logo-white" href="index-2.html"><img src="assets/images/Frame.png" alt="Logo"></a>
            </div>
            <!-- Header Logo End -->

            <!-- Header Navigation Start -->
            <div class="header-navigation d-none d-lg-block">
              <ul class="main-menu">
                <li class="active-menu"><a href="#">Home</a>

                </li>
                <li><a href="/about">About</a>
                  <ul class="sub-menu">
                    <li><a href="/event-list">Event List</a></li>
                    <li><a href="/event-single">Event Single</a></li>
                    <li><a href="/schedule">Event Schedule</a></li>
                    <li><a href="/speaker-one">Speakers 01</a></li>
                    <li><a href="/speaker-two">Speakers 02</a></li>
                    <li><a href="/speaker-single">Speaker Single</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/faq">FAQ's</a></li>
                    <li><a href="/login-register">Login Register</a></li>
                  </ul>
                </li>
                <li><a href="#">Programe</a>
                </li>
                <li><a href="#">Speakers</a>
                  <ul class="sub-menu">
                    <li><a href="/blog-gird">Blog Grid</a></li>
                    <li><a href="blog-news">Latest News</a></li>
                    <li><a href="/blog-details">Blog Details</a></li>
                  </ul>
                </li>
                <li><a href="/contact">Gallery</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
            <!-- Header Navigation End -->

            <!-- Header Meta Start -->
            <div class="header-meta">

              <div class="header-btn d-none d-md-block">
                <a href="price.html" class="btn-2">Register</a>
              </div>

              <!-- Header Toggle Start -->
              <div class="header-toggle d-lg-none">
                <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </div>
              <!-- Header Toggle End -->

            </div>
            <!-- Header Meta End -->

          </div>

        </div>
      </div>
      <!-- Header Middle End -->

    </div>
    <!-- Header End -->

    <!-- Mini Cart Start -->
    <div class="off-canvas">
      <div class="icon-close"></div>

      <!-- Mini Cart Box Start -->
      <div class="meeta-mini-cart-box">

        <div class="mini-cart-items">

          <div class="mini-cart-item">
            <div class="mini-cart-item-image">
              <a href="#"><img src="assets/images/cart/cart-1.jpg" alt="Cart"></a>
            </div>
            <div class="mini-cart-item-content">
              <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden
                  Livestream </a></h4>
              <p class="mini-cart-quantity">1 × $19.99</p>
            </div>
            <button class="btn-close"></button>
          </div>

          <div class="mini-cart-item">
            <div class="mini-cart-item-image">
              <a href="#"><img src="assets/images/cart/cart-2.jpg" alt="Cart"></a>
            </div>
            <div class="mini-cart-item-content">
              <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden
                  Livestream </a></h4>
              <p class="mini-cart-quantity">1 × $19.99</p>
            </div>
            <button class="btn-close"></button>
          </div>

          <div class="mini-cart-item">
            <div class="mini-cart-item-image">
              <a href="#"><img src="assets/images/cart/cart-3.jpg" alt="Cart"></a>
            </div>
            <div class="mini-cart-item-content">
              <h4 class="mini-cart-title"><a href="#">Virtual Event with Protected Content and Hidden
                  Livestream </a></h4>
              <p class="mini-cart-quantity">1 × $19.99</p>
            </div>
            <button class="btn-close"></button>
          </div>

        </div>

        <div class="mini-cart-sub-total">
          <p><strong>Subtotal:</strong> <span class="mini-cart-amount">$99.97</span></p>
        </div>
        <div class="mini-cart-sub-btn">
          <a class="btn btn-primary" href="#">View cart</a>
          <a class="btn btn-white" href="#">Checkout</a>
        </div>
      </div>
      <!-- Mini Cart Box End -->

    </div>
    <!-- Mini Cart End -->


    <!-- Offcanvas Start-->
    <div class="offcanvas offcanvas-start" id="offcanvasExample">
      <div class="offcanvas-header">
        <!-- Offcanvas Logo Start -->
        <div class="offcanvas-logo">
          <a href="index-2.html"><img src="assets/images/logo-4.png" alt=""></a>
        </div>
        <!-- Offcanvas Logo End -->
        <button type="button" class="close-btn" data-bs-dismiss="offcanvas"><i class="flaticon-close"></i></button>
      </div>

      <!-- Offcanvas Body Start -->
      <div class="offcanvas-body">
        <div class="offcanvas-menu offcanvas-menu-2">
          <ul class="main-menu">
            <li class="active-menu"><a href="/">Home</a>

            </li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Pages</a>
              <ul class="sub-menu">
                <li><a href="/event-list">Event List</a></li>
                <li><a href="/event-single">Event Single</a></li>
                <li><a href="/schedule">Event Schedule</a></li>
                <li><a href="/speaker-one">Speakers 01</a></li>
                <li><a href="/speaker-two">Speakers 02</a></li>
                <li><a href="/speaker-single">Speaker Single</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/faq">FAQ's</a></li>
                <li><a href="/login-register">Login Register</a></li>
              </ul>
            </li>
            <li><a href="#">Blog</a>
              <ul class="sub-menu">
                <li><a href="/blog-gird">Blog Grid</a></li>
                <li><a href="/blog-standard">Latest News</a></li>
                <li><a href="/blog-details">Blog Details</a></li>
              </ul>
            </li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <!-- Offcanvas Body End -->
    </div>
    <!-- Offcanvas End -->

    <!-- Slider Section Start  -->
    <div class="meeta-hero-section-3 d-flex align-items-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <!-- Countdown Start -->
            <div class="malabar-img">
              <img src="assets/images/Group.png" alt="">
            </div>
            <!-- Countdown End -->
          </div>
          <div class="col-lg-6">
            <div class="meeta-hero-content">
              <div class="malabar-title">
                <img src="assets/images/malabar.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="position: relative;">
      <div class="animation-wrapper">
        <div class="water">
          <ul class="waves">
            <li class="wave-one" style="background-image: url('assets/images/Vector (8).png');"></li>
            <li class="wave-two" style="background-image: url('assets/images/Vector (9).png');"></li>
            <li class="wave-three" style="background-image: url('assets/images/Vector (10).png');"></li>
            <li class="wave-four" style="background-image: url('assets/images/Vector (11).png');"></li>
            <li class="wave-five" style="background-image: url('assets/images/Vector (12).png');"></li>
          </ul>
        </div>
      </div>
      <div class="about"
        style="background-image: url('assets/images/about.png'); position: absolute; z-index: 10; margin-top: -33px; background-repeat: no-repeat; background-size: cover; width: 100%; object-fit:contain; height: 678.41px; overflow:hidden;">
        <div class="about-title">
          <h1>About us</h1>
        </div>
        <h2 class="about-para">
          Lorem ipsum dolor sit amet
          consectetur,
          adipisicing elit.
          Voluptates, placeat sit.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus expedita, nesciunt id labore saepe mollitia
          explicabo, eaque magnam maiores a velit deserunt suscipit accusantium sequi sit nostrum ipsum veritatis neque.
          Sunt dignissimos iure voluptatum, amet, porro nam est numquam tempore dolorem error cum odit aperiam labore
          molestiae commodi autem ea veritatis deleniti exercitationem itaque culpa perferendis consectetur consequuntur
          quas! Tempore.</h2>
      </div>

    </div>
  </div>
  <!-- Slider Section End -->
  <!-- Speakers Start -->
  <div class="meeta-speakers-3 section-padding">
    <div class="container">
      <div class="meeta-speakers-wrap">
        <div class="speaker-title">
          <h1>Speakers</h1>
        </div>
        <div class="speaker-images">
          <div class="speaker-carousel" style="display: flex;">
            <div class="speaker-img">
              <div class="img-wrapper">
                <img src="assets/images/speaker.png" alt="">
              </div>
            </div>
            <div class="speaker-img">
              <div class="img-wrapper">
                <img src="assets/images/speaker.png" alt="">
              </div>
            </div>
            <div class="speaker-img">
              <div class="img-wrapper">
                <img src="assets/images/speaker.png" alt="">
              </div>
            </div>
            <div class="speaker-img">
              <div class="img-wrapper">
                <img src="assets/images/speaker.png" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Water wave animation -->
  <div>
    <img src="assets/images/speakerWater.png" alt="" style="width: 100%">
  </div>
  <!-- Speakers End -->
  <div class="container">
    <div class="news-section">
      <h1>News</h1>
    </div>
    <div class="news-details">
      <div class="row news-details-head">
        <div class="col-12 col-xl-6 news-details-head-img">
          <!-- <img src="assets/images/news1.png" alt=""> -->
          <img
            src="https://img.freepik.com/free-photo/adults-enjoying-mexican-food_23-2149663840.jpg?size=626&ext=jpg&ga=GA1.2.790742631.1691391131"
            alt="" style="width: 100%;">
        </div>
        <div class="col-12 col-xl-6 ">
          <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, maiores?</h1>
          <div class="dates">
            <h6 style="display: inline;">Latest</h6><span class="time" style="display: inline; padding-left: 10px;">32
              MINUTES AGO</span>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quo, reprehenderit excepturi
            temporibus ipsam dolorem? Explicabo rem, accusantium corporis repellat, aspernatur sequi, iusto quia animi
            aut excepturi illum facilis porro
            Explicabo rem, accusantium corporis repellat, aspernatur sequi, iusto quia animi
            aut excepturi illum facilis porro.</p>
        </div>
      </div>
      <div class="row news-details-carousel" style="display: flex; margin-top: 50px;">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://t3.ftcdn.net/jpg/03/13/56/86/240_F_313568630_SKKmcDoeidnslLnkVcmtSkJbCsUANblf.jpg"
            alt="Card image cap" style="border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quasi.</h5>
            <p class="card-text">
            <ul style="list-style: none; padding-left: 0;">
              <li style="display: inline;"> <span style="font-size: 20px; color: #49BDF2;">&bull;</span> 32 MINUTES AGO
              </li>
            </ul>
            </p>
            <P class="card-text-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium molestias
              itaque animi repellendus
              maxime vitae aliquam laudantium maiores quae eaque?</P>
          </div>
        </div>
        <div class="card" style="width: 18rem; ">
          <img class="card-img-top"
            src="https://img.freepik.com/premium-photo/girl-with-curly-hair-vintage-clothes-sits-ground-near-country-house-hugs-dog_245974-10874.jpg?size=626&ext=jpg"
            alt="Card image cap" style="border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quasi.</h5>
            <ul style="list-style: none; padding-left: 0;">
              <li style="display: inline;"> <span style="font-size: 20px; color: #49BDF2;">&bull;</span> 32 MINUTES AGO
              </li>
            </ul>
            <P class="card-text-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium molestias
              itaque animi repellendus
              maxime vitae aliquam laudantium maiores quae eaque?</P>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://img.freepik.com/premium-photo/young-woman-with-cigarette-smoking-scrolling-social-media-smartphone-while-sitting-bathtub_165285-5289.jpg?size=626&ext=jpg"
            alt="Card image cap" style="border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quasi.</h5>
            <ul style="list-style: none; padding-left: 0;">
              <li style="display: inline;"> <span style="font-size: 20px; color: #49BDF2;">&bull;</span> 32 MINUTES AGO
              </li>
            </ul>
            <P class="card-text-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium molestias
              itaque animi repellendus
              maxime vitae aliquam laudantium maiores quae eaque?</P>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://img.freepik.com/premium-photo/woman-with-bob-hairstyle-isolated-red-background-copy-space_245974-10806.jpg?size=626&ext=jpg"
            alt="Card image cap" style="border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quasi.</h5>
            <ul style="list-style: none; padding-left: 0;">
              <li style="display: inline;"> <span style="font-size: 20px; color: #49BDF2;">&bull;</span> 32 MINUTES AGO
              </li>
            </ul>
            <P class="card-text-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium molestias
              itaque animi repellendus
              maxime vitae aliquam laudantium maiores quae eaque?</P>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pricing Start -->
  <div class="wheel"
    style="background-image: url('assets/images/rewheel.png'); background-size: cover; background-position: center; overflow: hidden; position: relative;">
    <div class="timer" style="display: flex;">
      <div class="circle" id="circle">
        <span id="number1">0</span>
        <div class="timer-title">
          <h3>Authors</h3>
        </div>

      </div>
      <div class="circle" id="circle">
        <span id="number2">0</span>
        <div class="timer-title">
          <h3>Attendence</h3>
        </div>
      </div>
      <div class="circle" id="circle">
        <span id="number3">0</span>
        <div class="timer-title">
          <h3>sessions</h3>
        </div>
      </div>
    </div>
    <img src="assets/images/registration.png" alt=""
      style="position: absolute; left: 50%; transform: translateX(-50%); bottom: 10%; width:35%;">

  </div>

  <!-- Pricing End -->

  <!-- Conference Start -->
  <!-- <div class="meeta-conference section-padding">
    <div class="container">
      <div class="meeta-section-title-2 section-title-3 text-center">
        <h4 class="sub-title">More Confernece</h4>
        <h2 class="main-title">Upcoming Conferences</h2>
      </div>
      <div class="meeta-conference-wrap">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-item">
              <div class="conference-image">
                <a href="event-list.html"><img src="assets/images/blog/blog-1.jpg" alt=""></a>
                <div class="conference-top-meta">
                  <span class="date color-1">Octobor 09, 2022</span>
                </div>
              </div>
              <div class="conference-content">
                <span class="meta"><i class="fas fa-map-marker-alt"></i> Sand diego, Canada</span>
                <h3 class="title"><a href="event-list.html">The 8th International Conference on
                    Social Sciences 2022 </a></h3>
              </div>
            </div>
        
          </div>
          <div class="col-lg-4 col-md-6">
   
            <div class="single-item">
              <div class="conference-image">
                <a href="event-list.html"><img src="assets/images/blog/blog-2.jpg" alt=""></a>
                <div class="conference-top-meta">
                  <span class="date color-2">Octobor 09, 2022</span>
                </div>
              </div>
              <div class="conference-content">
                <span class="meta"><i class="fas fa-map-marker-alt"></i> Sand diego, Canada</span>
                <h3 class="title"><a href="event-list.html">The 4th International Conference on
                    Gender and Sexuality 2022 </a></h3>
              </div>
            </div>
         
          </div>
          <div class="col-lg-4 col-md-6">
        
            <div class="single-item">
              <div class="conference-image">
                <a href="event-list.html"><img src="assets/images/blog/blog-3.jpg" alt=""></a>
                <div class="conference-top-meta">
                  <span class="date color-3">Octobor 09, 2022</span>
                </div>
              </div>
              <div class="conference-content">
                <span class="meta"><i class="fas fa-map-marker-alt"></i> Sand diego, Canada</span>
                <h3 class="title"><a href="event-list.html">The 6th World Disability and
                    Rehabilitation Conference 2022 </a></h3>
              </div>
            </div>
 
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Conference End -->
  <!-- partners and sponsers start -->
  <div class="sponsors">
    <div class="container">
      <div class="sponsors-title">
        <h1>Partners and Sponsors</h1>
      </div>
      <div class="sponsors-imgs" style="padding: 50px;">
        <img src="assets/images/sponsors.png" alt="sponsors" style="max-width: 100%; height: auto;">
      </div>

    </div>
  </div>
  <div class="testimonial" style="background-image:url('assets/images/grill.png') ;">
    <div class="testimonial-title">
      <h1>Testimonials</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="testimonial-cards justify-content-center">
          <div class="testimonial-card col-md-6 col-xl-6">
            <div class="test-img" style="width: 600px; height: 100%;">
              <img src="assets/images/speaker.png" alt="" style="height: 100%;">
            </div>
            <div>
              <div class="testimonial-text">
                <p><i class='fa fa-quote-left' style='font-size:15px;color:#49BDF2'></i> Lorem ipsum dolor
                  sit, amet
                  consectetur adipisicing elit. Maiores cum dicta, quas perferendis magni
                  sed! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, voluptatum possimus. Earum,
                  consectetur sint ea dolore debitis enim quaerat unde. <i class='fa fa-quote-right'
                    style='font-size:15px;color:#49BDF2'></i>
                </p>
                <h1>Rana Yakub</h1>
              </div>
            </div>
          </div>

          <div class="testimonial-card col-md-6 col-xl-6">
            <div class="test-img" style="width: 600px; height: 100%;">
              <img src="assets/images/speaker.png" alt="" style="height: 100%;">
            </div>
            <div>
              <div class="testimonial-text">
                <p><i class='fa fa-quote-left' style='font-size:15px;color:#49BDF2'></i> Lorem ipsum dolor
                  sit, amet
                  consectetur adipisicing elit. Maiores cum dicta, quas perferendis magni
                  sed! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, voluptatum possimus. Earum,
                  consectetur sint ea dolore debitis enim quaerat unde. <i class='fa fa-quote-right'
                    style='font-size:15px;color:#49BDF2'></i>
                </p>
                <h1>Rana Yakub</h1>
              </div>
            </div>
          </div>
          <div class="testimonial-card col-md-6 col-xl-6">
            <div class="test-img" style="width: 600px; height: 100%;">
              <img src="assets/images/speaker.png" alt="" style="height: 100%;">
            </div>
            <div>
              <div class="testimonial-text">
                <p><i class='fa fa-quote-left' style='font-size:15px;color:#49BDF2'></i> Lorem ipsum dolor
                  sit, amet
                  sed! Lore m ipsum dolor sit amet , adipisicing elit. Aperiam, voluptatum possimus. Earum,
                  consectetur sint ea dolore debitis enim quaerat unde. <i class='fa fa-quote-right'
                    style='font-size:15px;color:#49BDF2'></i>
                </p>
                <h1>Another Person</h1>
              </div>
            </div>
          </div>
          <div class="testimonial-card col-md-6 col-xl-6">
            <div class="test-img" style="width: 600px; height: 100%;">
              <img src="assets/images/speaker.png" alt="" style="height: 100%;">
            </div>
            <div>
              <div class="testimonial-text">
                <p><i class='fa fa-quote-left' style='font-size:15px;color:#49BDF2'></i> Lorem ipsum dolor
                  sit, amet
                  consectetur adipisicing elit. Maiores cum dicta, quas perferendis magni
                  sed! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, voluptatum possimus. Earum,
                  consectetur sint ea dolore debitis enim quaerat unde. <i class='fa fa-quote-right'
                    style='font-size:15px;color:#49BDF2'></i>
                </p>
                <h1>Another Person</h1>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>



  </div> -->
  </div>

  <!-- Footer Start -->
  <div class="footer" style="background-image: url('assets/images/footer.png');">

  </div>
  <!-- Footer End -->

  <!-- back to top start -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <!-- back to top end -->




  <!-- JS
    ============================================ -->

  <!-- Modernizer & jQuery JS -->
  <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
  <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>


  <!-- Bootstrap JS -->
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

  <!-- Plugins JS -->
  <script src="assets/js/swiper-bundle.min.js"></script>
  <script src="assets/js/back-to-top.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/jquery.counterup.min.js"></script>
  <script src="assets/js/waypoints.min.js"></script>
  <script src="assets/js/aos.js"></script>
  <script src="assets/js/jquery.nice-select.min.js"></script>
  <!-- Main JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="node_modules/slick-carousel/slick/slick.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.news-details-carousel').slick({
        dots: true,
        infinite: false,
        speed: 300,
        autoplay: true,
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    });
  </script>


  <script>
    const circle1 = document.getElementById('circle1');
    const numberElement1 = document.getElementById('number1');
    let currentNumber1 = 0;
    const targetNumber1 = 200;
    const increment1 = (targetNumber1 - currentNumber1) / (3000 / 30);

    const circle2 = document.getElementById('circle2');
    const numberElement2 = document.getElementById('number2');
    let currentNumber2 = 0;
    const targetNumber2 = 2000;
    const increment2 = (targetNumber2 - currentNumber2) / (9000 / 90);

    const circle3 = document.getElementById('circle3');
    const numberElement3 = document.getElementById('number3');
    let currentNumber3 = 0;
    const targetNumber3 = 200;
    const increment3 = (targetNumber3 - currentNumber3) / (3000 / 30);

    function animateNumber1() {
      currentNumber1 += increment1;
      if (currentNumber1 >= targetNumber1) {
        currentNumber1 = targetNumber1;
      }
      numberElement1.textContent = ` ${Math.round(currentNumber1)}+`;
    }

    function animateNumber2() {
      currentNumber2 += increment2;
      if (currentNumber2 >= targetNumber2) {
        currentNumber2 = targetNumber2;
      }
      numberElement2.textContent = `${Math.round(currentNumber2)}+`;
    }

    function animateNumber3() {
      currentNumber3 += increment3;
      if (currentNumber3 >= targetNumber3) {
        currentNumber3 = targetNumber3;
      }
      numberElement3.textContent = ` ${Math.round(currentNumber3)}+`;
    }

    setInterval(animateNumber1, 30);
    setInterval(animateNumber2, 90);
    setInterval(animateNumber3, 30);
  </script>

</body>


<!-- Mirrored from thepixelcurve.com/html/meeta/meeta/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 31 Jul 2023 12:39:52 GMT -->

</html>